if SHIELD_CROWKB_46_LEFT

config ZMK_KEYBOARD_NAME
    default "crowkb_46"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CROWKB_46_LEFT || SHIELD_CROWKB_46_RIGHT

config ZMK_SPLIT
    default y

endif
